@page "/"

<PageTitle>Index</PageTitle>

<h1>Pagina de ejemplo Blazor!</h1>

<p>Ejemplo Creado por Paulo </p>

<p>En Blazor las paginas .razor .cshtml son componentes.<br />
se pueden llamar desde cualquier parte del codigo
</p>

<br />

@*Invocando componentes creados*@
<Form001 Mensaje="ParametrosEnviados"></Form001>


<Form002></Form002>