<h3>Componente Form002</h3>

<input type="text" />

@*
    Todos ,los ediform re quieren un modelo que es un opbjeto creado
    Modelo entidad relacion

<EditForm Model="">
<InputText />
</EditForm>

*@

@code {

}
